extends layout

block content
  main
    div.container.mb-4.mt-4
      div.row.mb-3
        div.col
          a(href=`/`)
            img.logo(src='/images/logo-black.svg')
            h1 Armor block explorer
      form#search
        div.row
          div.col
            input#hash.form-control(type='text' name='hash' placeholder='Insert block or transaction hash, or positive block-number (height) or negative depth-number.' value=`${hash}`)
          div.col-auto
            button.btn.btn-primary(type='submit') Search

  if result
    div.container
      div.row
        div.col
          h3 Found transaction:
          div.card.p-3.bg-light.mb-2
            div Hash: #{result.transaction.hash}
          div.card.p-3.bg-light.mb-2
            div Block hash: 
              a(href=`/search/${result.transaction.block_hash}`) #{result.transaction.block_hash}
          div.card.p-3.bg-light.mb-2
            div Amount: 
              //-remove "//-" before span, and add "//-" to another span, to switch style of notification.
              //-span #{result.transaction.amount / 100000000} AMX 
                font.badge.bg-warning.text-dark It does not mean that this value is the amount that is actually transferred, it is a sum of outputs for this tx.
              span.tooltip2 #{result.transaction.amount / 100000000} AMX
                span.tooltiptext2
                  font It does not mean that this value is the amount that is actually transferred, it is a sum of outputs for this tx.				
          div.card.p-3.bg-light.mb-2
            div Fee: #{result.transaction.fee / 100000000} AMX
          div.card.p-3.bg-light.mb-2
            div Anonymity: #{result.transaction.anonymity}
          div.card.p-3.bg-light.mb-2
            div Coinbase: #{result.transaction.coinbase}
          div.card.p-3.bg-light.mb-2
            div Timestamp: #{result.transaction.timestamp}
          div.card.p-3.bg-light.mb-2
            div Size: #{result.transaction.size} (binary size: #{result.transaction.binary_size})

  script.
    var form = document.getElementById('search');
    form.addEventListener('submit', function (e) {
      e.preventDefault();
      var hash = document.getElementById('hash');
      hash.value && (window.location.href='/search/'+hash.value);
    });
